<div class="container">
  <div class="jumbotron mt-2" *ngIf="isJmb">
    Attribute directives are used as attributes of elements. The built-in NgStyle directive in the Template Syntax
    guide, for example, can change several element styles at the same time.
  </div>

  <ng-template [ngIf]="isJmb">
    <div class="jumbotron">
      Attribute directives are used as attributes of elements. The built-in NgStyle directive in the Template Syntax
      guide, for example, can change several element styles at the same time.
    </div>
  </ng-template>

  <div class="row">
    <div class="col-md-12">
      <input type="button" class="btn btn-info" value="Okay" (click)="isJmb = !isJmb">
    </div>
directives  <div class="row">
    <div class="col-md-12">
      <ul>
        <li *ngFor="let lang of langs">{{lang}}</li>
      </ul>
    </div>
  </div>
  <div class="row" *appUnless="false">
    <div class="col-md-12">
      <p class="alert alert-info">
        Structural directives are responsible for HTML layout. They shape or reshape the DOM's structure, typically by
        adding, removing, or manipulating elements.
        As with other directives, you apply a structural directive to a host element. The directive then does whatever
        it's supposed to do with that host element and its descendants.
        Structural directives are easy to recognize. An asterisk (*) precedes the directive attribute name as in this
        example.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" [ngStyle]="st">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p [ngClass]="{alert : true, 'alert-info':false}">
        Structural directives are responsible for HTML layout. They shape or reshape the DOM's structure, typically by
        adding, removing, or manipulating elements.
        As with other directives, you apply a structural directive to a host element. The directive then does whatever
        it's supposed to do with that host element and its descendants.
        Structural directives are easy to recognize. An asterisk (*) precedes the directive attribute name as in this
        example.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" appSizer>
    </div>
  </div>
</div>