<form class="form-horizontal" [formGroup]="fg" (ngSubmit)="onSub()">
    <fieldset>
        <!-- Form Name -->
        <legend>::: Data Driven Form</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="full_name">Full Name</label>
            <div class="controls">
                <input formControlName="flNm" placeholder="Enter your full name" class="input-xlarge" type="text">
                <p *ngIf="!fg.controls.flNm.valid" class="help-block">Error</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input formControlName="email" placeholder="Enter Your Email." class="input-xlarge" type="text">
                <p *ngIf="fg.controls.email.errors?.required" class="help-block">Error because of required</p>
                <p *ngIf="fg.controls.email.errors?.email" class="help-block">Error beacuse of email pattern</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="mobile">Mobile No.</label>
            <div class="controls">
                <input formControlName="mobile" placeholder="Enter Your Mobile Number" class="input-xlarge"
                    type="text">
                <p class="help-block">Error</p>
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Okay">
            </div>
        </div>

    </fieldset>
</form>